input[type="number"] {
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
    margin: -10px -10px -10px 10px;
    outline: none;
    -moz-appearance:textfield;

}
input[type="number"], textarea {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='radio'], label {
        cursor: pointer;
    }
    input[type='radio'] {
        position: relative;
        height: 10px;
        width: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
    }
    input[type='radio']::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    input[type='radio']:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        visibility: visible;
    }

input[id="answer_1"]::before {
    background-color: grey;
}
input[id="answer_1"]:checked::after {
    background-color: grey;
}
input[id="answer_2"]::before {
    background-color: orange;
}
input[id="answer_2"]:checked::after {
    background-color: orange;
}
input[id="answer_3"]::before {
    background-color: grey;
}
input[id="answer_3"]:checked::after {
    background-color: grey;
}
input[id="answer_4"]::before {
    background-color: white;
}
input[id="answer_4"]:checked::after {
    background-color: white;
}
input[id="answer_5"]::before {
    background-color: brown;
}
input[id="answer_5"]:checked::after {
    background-color: brown;
}
input[id="answer_6"]::before {
    background-color: pink;
}
input[id="answer_6"]:checked::after {
    background-color: pink;
}
input[id="answer_7"]::before {
    background-color: brown;
}
input[id="answer_7"]:checked::after {
    background-color: brown;
}
input[id="answer_8"]::before {
    background-color: grey;
}
input[id="answer_8"]:checked::after {
    background-color: grey;
}
input[id="answer_9"]::before {
    background-color: blue;
}
input[id="answer_9"]:checked::after {
    background-color: blue;
}
input[id="answer_10"]::before {
    background-color: pink;
}
input[id="answer_10"]:checked::after {
    background-color: pink;
}
input[id="answer_11"]::before {
    background-color: blue;
}
input[id="answer_11"]:checked::after {
    background-color: blue;
}
input[id="answer_12"]::before {
    background-color: brown;
}
input[id="answer_12"]:checked::after {
    background-color: brown;
}
input[id="answer_13"]::before {
    background-color: black;
}
input[id="answer_13"]:checked::after {
    background-color: black;
}
input[id="answer_14"]::before {
    background-color: pink;
}
input[id="answer_14"]:checked::after {
    background-color: pink;
}
input[id="answer_15"]::before {
    background-color: red;
}
input[id="answer_15"]:checked::after {
    background-color: red;
}
input[id="answer_16"]::before {
    background-color: yellow;
}
input[id="answer_16"]:checked::after {
    background-color: yellow;
}
input[id="answer_17"]::before {
    background-color: blue;
}
input[id="answer_17"]:checked::after {
    background-color: blue;
}
input[id="answer_18"]::before {
    background-color: brown;
}
input[id="answer_18"]:checked::after {
    background-color: brown;
}
input[id="answer_19"]::before {
    background-color: red;
}
input[id="answer_19"]:checked::after {
    background-color: red;
}
input[id="answer_20"]::before {
    background-color: black;
}
input[id="answer_20"]:checked::after {
    background-color: black;
}
input[id="answer_21"]::before {
    background-color: pink;
}
input[id="answer_21"]:checked::after {
    background-color: pink;
}
input[id="answer_22"]::before {
    background-color: red;
}
input[id="answer_22"]:checked::after {
    background-color: red;
}
input[id="answer_23"]::before {
    background-color: red;
}
input[id="answer_23"]:checked::after {
    background-color: red;
}
input[id="answer_24"]::before {
    background-color: black;
}
input[id="answer_24"]:checked::after {
    background-color: black;
}
input[id="answer_25"]::before {
    background-color: blue;
}
input[id="answer_25"]:checked::after {
    background-color: blue;
}
input[id="answer_26"]::before {
    background-color: green;
}
input[id="answer_26"]:checked::after {
    background-color: green;
}
input[id="answer_27"]::before {
    background-color: grey;
}
input[id="answer_27"]:checked::after {
    background-color: grey;
}
input[id="answer_28"]::before {
    background-color: white;
}
input[id="answer_28"]:checked::after {
    background-color: white;
}
input[id="answer_29"]::before {
    background-color: red;
}
input[id="answer_29"]:checked::after {
    background-color: red;
}
input[id="answer_30"]::before {
    background-color: blue;
}
input[id="answer_30"]:checked::after {
    background-color: blue;
}
input[id="answer_31"]::before {
    background-color: black;
}
input[id="answer_31"]:checked::after {
    background-color: black;
}
input[id="answer_32"]::before {
    background-color: blue;
}
input[id="answer_32"]:checked::after {
    background-color: blue;
}
input[id="answer_33"]::before {
    background-color: white;
}
input[id="answer_33"]:checked::after {
    background-color: white;
}
input[id="answer_34"]::before {
    background-color: black;
}
input[id="answer_34"]:checked::after {
    background-color: black;
}
input[id="answer_35"]::before {
    background-color: brown;
}
input[id="answer_35"]:checked::after {
    background-color: brown;
}
